{% extends "base.html" %}

{% block content %}

{% if show_signup_sys_msg %}
{% include "system_message.html" %}
{% endif %}

{% include "profile_ticket.html" %}
{% if not profile.user == user %}
  {% include "profile_travels.html" %}
{% endif %}
{% include "profile_reviews.html" %}

{% include "modals/social_modal.html" %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" charset="utf-8">
  $.urlParam = function(name){
      var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (!results)
      { 
          return 0; 
      }
      return results[1] || 0;
  }
  $(function() {
    $(".close-system-msg").click(function() {
      $(this).closest('.system-msg').hide();
    });
    $('.toggle-trip-activity').click(function() {
      $(this).closest('.row').siblings('.trip-activity').toggle();
      return false;
    })
  });
  var open_trip_id = $.urlParam('askforcargo');
  if (open_trip_id) {
    $('.toggle-trip-activity#'+open_trip_id).closest('.row').siblings('.trip-activity').toggle();
    location.hash = "#" + open_trip_id;
    $('.toggle-trip-activity#'+open_trip_id).closest('li.item').css({'background-color': '#FFF'})
  }
</script>
{% endblock %}
