{% extends "base.html" %}

{% block content %}

{% if show_signup_sys_msg %}
<div class="system-msg welcome-box">
  <div class="inner">
    <h3>Welcome {{ profile.user.get_full_name }}</h3>
    <div class="media"><img src="{{ STATIC_URL }}img/ico_mail.png" class="pull-left media-object"><h4 class="media-body">Please check your inbox ({{ profile.user.email }}) and verify your email address.</h4></div>
    <span class="close-box"><a class="close-system-msg" href="#">cerrar</a></span>
    <span class="fold"></span>
  </div>
</div>
{% endif %}

{% include "profile_ticket.html" %}
{% if not profile.user == user %}
  {% include "profile_travels.html" %}
{% endif %}

<div class="profile-reviews">
  <h4 class="tit-int">Reviews about you</h4>
  <div class="item">
    <div class="media">
      <img class="media-object img-polaroid pull-left" src="{{ STATIC_URL }}img/fake_70x70.png">
      <div class="media-body">
        <div class="comment-box">
          <h5><a href="#">Francisca Vega</a></h5>
          <p>Tomás fue muy responsable y puntual con el encargo que le pedí. 100% recomendable como viajero.</p>
        </div>
        <span class="arrow"></span>
      </div>
    </div>
  </div><!-- .item -->
  <div class="item">
    <div class="media">
      <img class="media-object img-polaroid pull-left" src="{{ STATIC_URL }}img/fake_70x70.png">
      <div class="media-body">
        <div class="comment-box">
          <h5><a href="#">Francisca Vega</a></h5>
          <p>Tomás fue muy responsable y puntual con el encargo que le pedí. 100% recomendable como viajero.</p>
        </div>
        <span class="arrow"></span>
      </div>
    </div>
  </div><!-- .item -->
  <div class="item">
    <div class="media">
      <img class="media-object img-polaroid pull-left" src="{{ STATIC_URL }}img/fake_70x70.png">
      <div class="media-body">
        <div class="comment-box">
          <h5><a href="#">Francisca Vega</a></h5>
          <p>Tomás fue muy responsable y puntual con el encargo que le pedí. 100% recomendable como viajero.</p>
        </div>
        <span class="arrow"></span>
      </div>
    </div>
  </div><!-- .item -->
</div><!-- .profile-reviews -->

{% endblock %}

{% block extra_js %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".close-system-msg").click(function() {
      $(this).closest('.system-msg').hide();
    });
  });
  $(function() {
    $('.toggle-trip-activity').click(function() {
      $(this).closest('.row').siblings('.trip-activity').toggle();
      return false;
    })
  });
</script>
{% endblock %}
