<div class="comment-item media">
  <img src="{{ comment.user.userprofile.get_thumb_img_url }}" class="media-object img-polaroid pull-left" />
  <div class="media-body">
    <h5><a href="#">{{ comment.user.get_full_name }}</a></h5>
    <p class="txt">{{ comment.content }}</p>
    <p class="date">{{ comment.creation_dt|date:"d/m/Y" }}</p>
    {% if comment.comment_type == 1 and not comment.user == user %}
    <input type="hidden" name="object_id" value="{{ comment.cargo.id }}">
    <a href="#confirm-modal-cargo" data-toggle="modal" class="confirm-cargo-form-btn cargo-form-btn btn btn-canubring-orange pull-right">Confirm Cargo</a>
    {% endif %}
  </div>
</div>

