{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div id="trip-legs-container" class="upload-trip">
  <h2>Upload your trip!</h2>
  {% include "new_trip_leg.html" %}
</div>

<div id="manage-legs-container" class="upload-trip">
  <div class="item-leg clearfix">
    <form class="form-inline">
      <div class="control-group">

        <div class="travelling-by pull-left">
          <p><a href="#" class="remove-leg" style="display:none">remove leg</a></p>
          <p><a href="#" class="add-leg" style="display:none">add another leg</a></p>
        </div>

        <p id="submit-trip" class="submit-trip">
          <label class="checkbox">
            <input class="trip-type-radio checkbox" type="radio" name="trip-type" value="1" checked="checked">one way
          </label>
          <label class="checkbox">
            <input class="trip-type-radio checkbox" type="radio" name="trip-type" value="2">round trip
          </label>
          <label class="checkbox">
            <input class="trip-type-radio checkbox" type="radio" name="trip-type" value="3">multi-city
          </label>

          <a id="new-trip-submit-btn" class="new-trip-submit-btn btn btn-canubring-orange pull-right" href="#">Upload</a>
        </p>

      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block extra_js %}
  <script src="{% static "js/utils.js" %}"></script>
  <script src="{% static "js/new_trip.js" %}"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('.trip-type-radio').click(function() {
        var value = $(this).val();
        if (value == 1) {
          $('#trip-legs-container').find('.item-leg').slice(1).remove();
          $('.travelling-by').find('a').hide();
        }
        if (value == 2) {
          var legs = $('#trip-legs-container').find('.item-leg')
          legs.slice(2).remove();
          $('.travelling-by').find('a').hide();
          if (legs.length == 1) {
            $.get('/my/triplegform/', function(data) {
              $('#trip-legs-container').append(data);
              google_places_autocomplete_widget();
            });
          }
        }
        if (value == 3) {
          var legs = $('#trip-legs-container').find('.item-leg')
          if (legs.length == 1) {
            $.get('/my/triplegform/', function(data) {
              $('#trip-legs-container').append(data);
              google_places_autocomplete_widget();
            });
          }
          $('.travelling-by').find('a').show();
        }
      })
    });
  </script>
{% endblock %}

