{% load i18n %}

<div class="item-leg clearfix">
  <h4>{% trans "Fill your trip data" %}</h4>

  <form id="new-trip-form" class="new-trip-form form-inline" action="/api/v1/trip/" method="post" accept-charset="utf-8">

    <span class="error-msg" style="display:none;color:red">{% trans "All fields except comments are required" %}</span>

    <div class="control-group">
      <select name="dep_country" class="departure-country">
        <option value="">Departure country</option>
        {% for country in countries %}
        <option value="{{ country.id }}">{{ country.name }}</option>
        {% endfor %}
      </select>
      <select name="dep_city" class="departure-city" disabled="disabled">
        <option value="">Select a country first...</option>
      </select>

      {% comment %}
      <input type="text" name="departure_city" class="city-input input-large input-canubring" placeholder="{% trans "departure city" %}" required>
      {% endcomment %}

      {% comment %}
      <input type="text" name="departure_dt" class="datepicker input-medium input-canubring" placeholder="departure date" required>
      {% endcomment %}

    </div>
    <div class="control-group">
      <select name="dest_country" class="destination-country">
        <option value="">Destination country</option>
        {% for country in countries %}
        <option value="{{ country.id }}">{{ country.name }}</option>
        {% endfor %}
      </select>
      <select name="dest_city" class="destination-city" disabled="disabled">
        <option value="">Select a country first...</option>
      </select>

      {% comment %}
      <input type="text" name="destination_city" class="city-input input-large input-canubring" placeholder="{% trans "destination city" %}" required>
      {% endcomment %}
      <input type="text" name="destination_dt" class="datepicker input-medium input-canubring" placeholder="{% trans "arrival date" %}" required>
    </div>

    <input type="hidden" name="user" value="/api/v1/user/{{ user.id }}/">

    <div class="control-group">

      <div class="travelling-by pull-left">
        <h5>{% trans "Travelling by" %}:</h5>
        <label class="checkbox">
          <input type="radio" name="travelling_by" value="1" checked="checked" class="checkbox">&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/ico_plane.png">
        </label>
        <label class="checkbox">
          <input type="radio" name="travelling_by" value="2" class="checkbox">&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/ico_bus.png">
        </label>
        <label class="checkbox">
          <input type="radio" name="travelling_by" value="3" class="checkbox">&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/ico_car.png">
        </label>
        <label class="checkbox">
          <input type="radio" name="travelling_by" value="4" class="checkbox">&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/ico_train.png">
        </label>
      </div>

      <textarea name="comments" class="input-canubring" placeholder="{% trans "Comments about what you are up to carry" %}"></textarea>
    </div>

  </form>
  <p><a href="#" class="remove-leg">{% trans "remove leg" %}</a></p>
</div>

