  {% for comment in cargo.cargocomment_set.all %}
    {% include "comment.html" %}
  {% endfor %}

  <div class="comment-item media reply">
    <img src="{{ user.userprofile.get_thumb_img_url }}" class="media-object img-polaroid pull-left" />
    <div class="media-body">
      <form action="{% url 'reply_cargo' %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {% if my_cargos %}
        <input type="hidden" name="from_my_cargos" value="1">
        {% endif %}
        <input type="hidden" name="object_id" value="{{ cargo.id }}">
        <textarea name="content" class="input-canubring" placeholder="Reply to this traveller. When you reach a deal, confirm cargo" required></textarea>
        {% if cargo.traveller_user == user %}
          {% if cargo.state == 0 and not cargo.expired %}
          <a href="#modal-cargo" data-toggle="modal" class="cargo-form-btn btn btn-canubring-orange pull-right">Confirm Cargo</a>
          {% endif %}
          {% if cargo.state == 3 or cargo.expired %}
          <a href="#modal-review-cargo" data-toggle="modal" class="review-requesting-user-form-btn cargo-form-btn btn btn-canubring-orange pull-right">Review Requesting User</a>
          {% endif %}
        {% elif cargo.requesting_user == user %}
          {% if cargo.state == 2 %}
          <a href="#modal-cargo" data-toggle="modal" class="review-traveller-form-btn btn btn-canubring-orange pull-right">Confirm Delivery</a>
          {% endif %}
        {% endif %}
        <a href="#" class="reply-cargo-btn btn btn-canubring-orange pull-right">Reply</a>
      </form>
    </div>
  </div>

