{% extends "base.html" %}

{% block content %}
<div class="upload-trip">
  <h2>My trips</h2>
  <a href="{% url 'new_trip' %}" class="btn" style="float:right">Upload new trip</a>
</div>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">Current travels</a>
    </li>
    <li><a href="#">Past travels</a></li>
  </ul>

<div class="profile-travels">
  <div class="tb-travels mytrips">

    <div class="row">
      <div class="span1"></div>
      <div class="span2"><h5 class="th">Date</h5></div>
      <div class="span3"><h5 class="th">Travel</h5></div>
      <div class="span2"><h5 class="th">Status</h5></div>
    </div>

    <ul class="unstyled">
      {% for trip in current_trips %}
        {% include "trip_list_item.html" %}
      {% empty %}
        <div class="alert">
          You do not have current trips.
        </div>
      {% endfor %}
    </ul>

  </div>
</div>

<h4 class="tit-int">Past Travels</h4>
<div class="tb-travels mytrips past">

  <ul class="unstyled">
    {% for trip in user.userprofile.past_trips %}
      {% include "trip_list_item.html" %}
    {% empty %}
      <div class="alert">
        You do not have past trips.
      </div>
    {% endfor %}
  </ul>

</div>

<div class="pagination pull-right">
  <ul>
    {% if current_trips.has_previous %}
    <li><a href="?page={{ current_trips.previous_page_number }}">&laquo; Previous</a></li>
    {% endif %}
    {% for page in current_trips.paginator.page_range %}
    <li class="active"><a href="#">{{ page }}</a></li>
    {% endfor %}
    {% if current_trips.has_next %}
    <li><a href="?page={{ current_trips.next_page_number }}">Next &raquo;</a></li>
    {% endif %}
  </ul>
</div>

{% include "modals/cargo_modal.html" %}
{% include "modals/review_requesting_user_modal.html" %}

{% endblock %}

{% block extra_js %}
  {% include "extra_js/trip_comments.html" %}
  {% include "extra_js/cargo_form.html" %}
  {% include "extra_js/submit_cargo_form.html" %}
  {% include "extra_js/review_requesting_user_form.html" %}
{% endblock %}

