{% extends "base.html" %}

{% block content %}

{% if show_new_trip_sys_msg %}
{% include "new_trip_system_message.html" %}
{% endif %}

<div class="upload-trip">
  <br />
  <a href="{% url 'new_trip' %}" class="btn" style="float:right">Upload new trip</a>
  <ul class="nav nav-tabs">
    <li {% if not past_trips %}class="active"{% endif %}>
      <a href="{% url 'trips' %}">Current travels {% if user.userprofile.get_unread_current_trip_comments %}<span class="badge badge-canubring">{{ user.userprofile.get_unread_current_trip_comments }}</span>{% endif %}</a>
    </li>
    <li {% if past_trips %}class="active"{% endif %}>
      <a href="{% url 'past_trips' %}">Past travels {% if user.userprofile.get_unread_past_trip_comments %}<span class="badge badge-canubring">{{ user.userprofile.get_unread_past_trip_comments }}</span>{% endif %}</a>
    </li>
  </ul>
</div>

<div class="profile-travels">
  <div class="tb-travels mytrips {% if past_trips %}past{% endif %}">

    <div class="row">
      <div class="span1"></div>
      <div class="span2"><h5 class="th">Date</h5></div>
      <div class="span3"><h5 class="th">Travel</h5></div>
      <div class="span2"><h5 class="th">Status</h5></div>
    </div>

    <ul class="unstyled">
      {% for trip in trips %}
        {% include "trip_list_item.html" %}
      {% empty %}
        <div class="alert">
          You do not have trips to display here.
        </div>
      {% endfor %}
    </ul>

  </div>
</div>

{% include "pagination.html" with page=trips %}

{% include "modals/cargo_modal.html" %}
{% include "modals/review_requesting_user_modal.html" %}

{% endblock %}

{% block extra_js %}
  {% include "extra_js/trip_comments.html" %}
  {% include "extra_js/cargo_form.html" %}
  {% include "extra_js/submit_cargo_form.html" %}
  {% include "extra_js/review_requesting_user_form.html" %}
{% endblock %}

