<li class="item">
  <div class="row">
    <div class="span1">
      <div class="open-plane">
        <a class="toggle-trip-activity" href="#" id="{{ trip.id }}"><img src="{{ STATIC_URL }}img/ico_open.png" alt="" title="" /></a>
        {% if trip.travelling_by == 1 %}
        <span class="ico-plane"></span>
        {% elif trip.travelling_by == 2 %}
        <span class="ico-bus"></span>
        {% elif trip.travelling_by == 3 %}
        <span class="ico-auto"></span>
        {% else %}
        <span class="ico-train"></span>
        {% endif %}
      </div>
    </div>
    <div class="span2">
      <p class="desc"><span>Dep.</span> {{ trip.departure_dt|date:"d.m.Y" }}</p>
      <p class="desc"><span>Arrive.</span> {{ trip.destination_dt|date:"d.m.Y" }}</p>
    </div>
    <div class="span3">
      <p class="desc"><span>From</span> {{ trip.departure_city }}</p>
      <p class="desc"><span>To</span> {{ trip.destination_city }}</p>
    </div>
    <div class="span2">
      <div class="status">
        {% if my_cargos %}
          {% if cargo.total_unread_comments_count_for_requesting_user %}
            <div class="num"><p>{{ cargo.total_comments_count }}</p></div>
          {% endif %}
        {% else %}
          {% if trip.total_unread_comments_count_for_owner %}
            <div class="num"><p>{{ trip.total_comments_count }}</p></div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if trip.user == user or my_cargos %}
    {% include "trip_comments.html" %}
  {% else %}
    {% include "trip_ask_cargo.html" %}
  {% endif %}
</li><!-- .item -->

