{% load i18n %}

<li class="item">
  <div class="row clickable toggle-trip-activity {% if my_cargos %}update-unread-status{% endif %}" data-href="#" cargo-id="{{ cargo.id }}" href="#" id="{{ trip.id }}">
    <div class="span1">
      <div class="open-plane">
        <a class="toggle-trip-activity {% if my_cargos %}update-unread-status{% endif %}" cargo-id="{{ cargo.id }}" href="#" id="{{ trip.id }}">
        {% if trip.cargo_set.count > 0 %}
          <img src="{{ STATIC_URL }}img/ico_open.png">
        {% endif %}
        </a>
        {% if trip.travelling_by == 1 %}
        <span class="ico-plane"></span>
        {% elif trip.travelling_by == 2 %}
        <span class="ico-bus"></span>
        {% elif trip.travelling_by == 3 %}
        <span class="ico-auto"></span>
        {% else %}
        <span class="ico-train"></span>
        {% endif %}
      </div>
    </div>
    {% if my_cargos %}
    <div class="span1">
      <p class="desc">{{ trip.destination_dt|date:"d.m.Y" }}</p>
    </div>
    <div class="span3">
      <div class="media desc">
          <span class="pull-left">{% trans "From" %}</span>
          <div class="media-body">
            {{ trip.dep_country.name }} - {{ trip.dep_city.name }}
          </div>
        </div>

        <div class="media desc">
          <span class="pull-left">{% trans "To" %}</span>
          <div class="media-body">
            {{ trip.dest_country.name }} - {{ trip.dest_city.name }}
          </div>
        </div>   
    </div>
    <div class="span1">
      <p class="desc">{{ trip.user.get_full_name }}</p>
    </div>
    <div class="span1"><span class="pull-right {% if cargo.state == 2 %}hand{% elif cargo.state == 4 %}cargo{%else %}balloon{% endif %}">y</span></div>
    <div class="span1">
      <div class="status">
        {% if my_cargos %}
          {% if cargo.total_unread_comments_count_for_requesting_user %}
            <div class="num"><p>{{ cargo.total_unread_comments_count_for_requesting_user|length }}</p></div>
          {% endif %}
        {% else %}
          {% if trip.total_unread_comments_count_for_owner %}
            <div class="num"><p>{{ trip.total_unread_comments_count_for_owner }}</p></div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="span2">
      {% comment %}
      <p class="desc"><span>Dep.</span> {{ trip.departure_dt|date:"d.m.Y" }}</p>
      {% endcomment %}
      <p class="desc">{{ trip.destination_dt|date:"d.m.Y" }}</p>
    </div>
    <div class="span3">
        <div class="media desc">
          <span class="pull-left">{% trans "From" %}</span>
          <div class="media-body">
            {{ trip.dep_country.name }} - {{ trip.dep_city.name }}
          </div>
        </div>

        <div class="media desc">
          <span class="pull-left">{% trans "To" %}</span>
          <div class="media-body">
            {{ trip.dest_country.name }} - {{ trip.dest_city.name }}
          </div>
        </div>      
    </div>
    <div class="span1"><span class="pull-right {% if cargo.traveller_user_review_stars %}stars{% endif %}"></span></div>
    <div class="span1">
      <div class="status">
        {% if my_cargos %}
          {% if cargo.total_unread_comments_count_for_requesting_user %}
            <div class="num"><p>{{ cargo.total_unread_comments_count_for_requesting_user|length }}</p></div>
          {% endif %}
        {% else %}
          {% if trip.total_unread_comments_count_for_owner %}
            <div class="num"><p>{{ trip.total_unread_comments_count_for_owner }}</p></div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
  {% if trip.user == user or my_cargos %}
    {% include "trip_comments.html" %}
  {% else %}
    {% include "trip_ask_cargo.html" %}
  {% endif %}
</li>

