  {% for comment in cargo.cargocomment_set.all %}
    {% include "comment.html" %}
  {% endfor %}

  <div class="comment-item media reply">
    <img src="{{ user.userprofile.get_thumb_img_url }}" class="media-object img-polaroid pull-left" />
    <div class="media-body">
      <form action="{% url 'reply_cargo' %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {% if my_cargos %}
        <input type="hidden" name="from_my_cargos" value="1">
        {% endif %}
        <input type="hidden" name="object_id" value="{{ cargo.id }}">
        <textarea name="content" class="input-canubring" placeholder="Reply to this traveller. When you reach a deal, confirm cargo" required></textarea>
        <a href="#" class="reply-cargo-btn btn btn-canubring-orange pull-right">Reply</a>
        <a href="#modal-cargo" data-toggle="modal" class="btn btn-canubring-orange pull-right">Cargo Form</a>
      </form>
    </div>
  </div>

