<div class="row trip-activity" style="display:none">
  <div class="span8">
    <div class="comments">
      <ul class="unstyled">
        <li>
          <div class="comment-item media reply">
            <div class="media-body">
              <form action="{% url 'ask_for_cargo' %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <input type="hidden" name="cargo_id" value="{{ trip.id }}">
                <textarea name="content" class="input-canubring" placeholder="Contact this traveller to ask him/her for your cargo." required></textarea>
                <input type="submit" href="#" class="btn btn-canubring-orange pull-right" />
              </form>
            </div>
          </div><!-- comment-item reply-->
        </li>
      </ul>
    </div><!-- .comments -->
  </div>
</div>

