<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.review-requesting-user-form-btn').click(function() {
      var cargo_id = $(this).siblings("[name='object_id']").val();
      var container = $('#modal-review-requesting-user-content');
      $.ajax({
        type: 'get',
        data: '',
        url: '/cargos/review-requesting-user-form/'+cargo_id+'/',
        success: function(response) {
          container.html(response['html']);
        },
        error: function(response) {
          var error_msg = $.parseJSON(response.responseText);
        },
      });
    });
  });
</script>


