{% extends "base.html" %}

{% block content %}
          <div class="main-search clearfix">
              <form class="form-inline">
                <span class="magnifier"></span>
                <input type="text" class="input-canubring" placeholder="Origin (city, country)" />
                <input type="text" class="input-canubring" placeholder="Destination (city, country)" />
                <input type="text" class="input-canubring" placeholder="Arrival date" />
              </form>
          </div><!-- .main-search -->
          
          <div class="row">
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Buenos Aires</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos que yo mismo compre. Máximo dos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>

            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Madrid</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargoos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Santiago de Chile</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos , Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Ciudad del Cabo</p>
                  <div class="clearfix">
                    <p class="country pull-left">África</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Palma de Mallorca</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos que yo mismo compre. Máximo dos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
          </div><!-- row listado tickets -->

          <div class="row">
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Buenos Aires</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos que yo mismo compre. Máximo dos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>

            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Madrid</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargoos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Santiago de Chile</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos , Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Ciudad del Cabo</p>
                  <div class="clearfix">
                    <p class="country pull-left">África</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Palma de Mallorca</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos que yo mismo compre. Máximo dos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
          </div><!-- row listado tickets -->

          <div class="row">
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Buenos Aires</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos que yo mismo compre. Máximo dos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>

            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Madrid</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargoos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Santiago de Chile</p>
                  <div class="clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Barcelona</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos , Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
            <div class="span2">
              <div class="ticket">
                <div class="hd">
                  <div class="hd-top"></div>
                  <span class="plane"></span>
                  <p class="lang">spa/eng</p>
                </div>
                <div class="bd">
                  <p class="tit-from">origen</p>
                  <p class="from">Ciudad del Cabo</p>
                  <div class="clearfix">
                    <p class="country pull-left">África</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-arrow"></div>
                  <p class="tit-from">destino</p>
                  <p class="from">Palma de Mallorca</p>
                  <div class="aux clearfix">
                    <p class="country pull-left">Estados Unidos</p>
                    <p class="date pull-right">Date: <span>30/07/2012</span></p>
                  </div>
                  <div class="sep-holes"></div>
                  <div class="profile-comment media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-polaroid" src="{{ STATIC_URL }}img/fake_30x30.png">  
                    </a>
                    <div class="media-body">
                      <h6>Juanito Vega</h6>
                      <p class="country">Chile</p>
                      <p class="stats">1 Viaje - 0 Cargas</p>
                      <div class="stars three"></div>
                      <p class="comment">"Solo llevo encargos que yo mismo compre. Máximo dos mil kilos, Gracias"</p>
                    </div>
                  </div>
                </div>
                <div class="ft">
                  <a href="#"><span></span>Ask for cargo!</a>
                </div>
              </div><!-- .ticket -->
            </div>
          </div><!-- row listado tickets -->

          <div class="pagination pull-right">
            <ul>
              <li><a href="#">&laquo; Anterior</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Siguiente &raquo;</a></li>
            </ul>
          </div><!-- .pagination -->
{% endblock %}

