{% extends "base.html" %}

{% load staticfiles %}

{% block extra_css %}
<style type="text/css" media="screen">
  .ticket {
    width: 140px;
    float: left;
    padding: auto 10px;
  }
</style>
{% endblock %}

{% block content %}
<div class="main-search clearfix">
    <form action="{% url 'search' %}" method="get" class="form-inline" accept-charset="utf-8">
      <select name="departure_country">
          <option value="" selected="selected">---------</option>
          {% for obj in active_dep_countries %}
          <option value="{{ obj.id }}" {% if obj.id == departure_country %}selected="selected"{% endif %}>{{ obj.name }}</option>
          {% endfor %}
      </select>
      <select name="destination_country">
          <option value="" selected="selected">---------</option>
          {% for obj in active_dest_countries %}
          <option value="{{ obj.id }}" {% if obj.id == destination_country %}selected="selected"{% endif %}>{{ obj.name }}</option>
          {% endfor %}
      </select>
      <select name="departure_city">
          <option value="" selected="selected">---------</option>
          {% for obj in active_dep_cities %}
          <option value="{{ obj.id }}" {% if obj.id == departure_city %}selected="selected"{% endif %}>{{ obj.name }}</option>
          {% endfor %}
      </select>
      <select name="destination_city">
          <option value="" selected="selected">---------</option>
          {% for obj in active_dest_cities %}
          <option value="{{ obj.id }}" {% if obj.id == destination_city %}selected="selected"{% endif %}>{{ obj.name }}</option>
          {% endfor %}
      </select>
      <input type="submit">
    </form>
</div>

<div id="tickets-row-container">
{% for trip in trips %}
  <div>{% include "ticket.html" %} </div>
{% endfor %}
</div>

{% include "pagination.html" with page=trip_results %}

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="{% static "js/google_places.js" %}"></script>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    $(".datepicker").each(function() {
      $(this).datepicker({ minDate: 0 });
    })
    $('#tickets-row-container').masonry({
      // options
      itemSelector : '.ticket',
      columnWidth : 150
    });
  });
  </script>
{% endblock %}
