{% extends "base.html" %}

{% load staticfiles %}

{% block extra_css %}
<style type="text/css" media="screen">
  .ticket {
    width: 140px;
    float: left;
    padding: auto 10px;
  }
  .search-label {
    min-width: 80px;
  }
</style>
{% endblock %}

{% block content %}
<div class="main-search clearfix">
    <form action="{% url 'search' %}" method="get" class="form-inline" accept-charset="utf-8">
      <div style="margin-bottom:5px">
        <label class="search-label" for="dep-country-select">Departure</label>
        <select id="dep-country-select" name="departure_country">
            <option value="" selected="selected">Select Country...</option>
            {% for obj in active_dep_countries %}
            <option value="{{ obj.id }}" {% if obj.id == departure_country %}selected="selected"{% endif %}>{{ obj.name }}</option>
            {% endfor %}
        </select>
        <select id="dep-city-select" name="departure_city" {% if not departure_country %}disabled{% endif %}>
            <option value="" selected="selected">Select City...</option>
            {% for obj in active_dep_cities %}
            <option value="{{ obj.id }}" {% if obj.id == departure_city %}selected="selected"{% endif %}>{{ obj.name }}</option>
            {% endfor %}
        </select>
      </div>
      <label class="search-label" for="dest-country-select">Destination</label>
      <select id="dest-country-select" name="destination_country">
          <option value="" selected="selected">Select Country...</option>
          {% for obj in active_dest_countries %}
          <option value="{{ obj.id }}" {% if obj.id == destination_country %}selected="selected"{% endif %}>{{ obj.name }}</option>
          {% endfor %}
      </select>
      <select id="dest-city-select" name="destination_city" {% if not destination_country %}disabled{% endif %}>
          <option value="" selected="selected">Select City...</option>
          {% for obj in active_dest_cities %}
          <option value="{{ obj.id }}" {% if obj.id == destination_city %}selected="selected"{% endif %}>{{ obj.name }}</option>
          {% endfor %}
      </select>
      {% comment %}
      <input type="submit">
      {% endcomment %}
    </form>
</div>

<div id="tickets-row-container">
{% for trip in trips %}
  <div>{% include "ticket.html" %} </div>
{% endfor %}
</div>

{% include "pagination.html" with page=trips %}

{% endblock %}

{% block extra_js %}
  <script src="{% static "js/google_places.js" %}"></script>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    $(".datepicker").each(function() {
      $(this).datepicker({ minDate: 0 });
    })
    $('#tickets-row-container').masonry({
      // options
      itemSelector : '.ticket',
      columnWidth : 150
    });
  });
    $("#dep-country-select").change(function() {
        var value = $(this).val();
        console.log(value);
        if (value == "") {
          $("#dep-city-select").attr('disabled', 'disabled');
        } else {
          $("#dep-city-select").removeAttr('disabled');
        }
    });
    $("#dest-country-select").change(function() {
        var value = $(this).val();
        console.log(value);
        if (value == "") {
          $("#dest-city-select").attr('disabled', 'disabled');
        } else {
          $("#dest-city-select").removeAttr('disabled');
        }
    });
    $("select").change(function() {
        $(this).closest('form').submit();
    });
  </script>
{% endblock %}
