{% with profile=trip.user.userprofile %}
<div class="span2">
  <div class="ticket">
    <div class="hd">
      <div class="hd-top"></div>
      <span class="plane"></span>
      <p class="lang">spa/eng</p>
    </div>
    <div class="bd">
      <p class="tit-from">origen</p>
      <p class="from">{{ trip.get_departure_city }}</p>
      <div class="clearfix">
        <p class="country pull-left">{{ trip.get_departure_country }}</p>
        <p class="date pull-right">Date: <span>{{ trip.departure_dt|date:"d/m/Y" }}</span></p>
      </div>
      <div class="sep-arrow"></div>
      <p class="tit-from">destino</p>
      <p class="from">{{ trip.get_destination_city }}</p>
      <div class="aux clearfix">
        <p class="country pull-left">{{ trip.get_destination_country }}</p>
        <p class="date pull-right">Date: <span>{{ trip.destination_dt|date:"d/m/Y" }}</span></p>
      </div>
      <div class="sep-holes"></div>
      <div class="profile-comment media">
        <a class="pull-left" href="{{ profile.get_absolute_url }}">
          <img class="media-object img-polaroid" src="{{ profile.get_ticket_img_url }}">  
        </a>
        <div class="media-body">
          <h6><a class="pull-left" href="{{ profile.get_absolute_url }}">{{ trip.user.get_full_name }}</a></h6>
          <p class="country">{{ profile.country }}</p>
          <p class="stats">{{ profile.past_trips|length }} Trips - 0 Cargas</p>
          <div class="stars {{ profile.average_traveller_review_css_class_name }}"></div>
          {% if trip.comments %}
          <p class="comment">"{{ trip.comments|truncatechars:'100' }}"</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="ft">
      <a href="{{ profile.get_absolute_url }}"><span></span>Ask for cargo!</a>
    </div>
  </div>
</div>
{% endwith %}

