<!DOCTYPE html>
<html lang="en">
  {% load i18n %}
  <head>
    <meta charset="utf-8">
    <title>{% trans "Canubring - Save sending, earn carrying!" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}

    <link type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "jquery-ui/1.10.0/themes/smoothness/jquery-ui.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/canubring.css" %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

  </head>

  <body>

    {% include "header.html" %}

    <div class="container main">
      <div class="row">
        {% include "sidebar.html" %}
        <div class="span8">
          {% include "menu.html" %}

          {% for message in messages %}
          <div class="system-msg welcome-box">
            <div class="inner">
              <div class="media" style="padding:10px"><h4 class="media-body">{{ message }}</h4></div>
              <span class="close-box"><a class="close-system-msg" href="#">{% trans "close" %}</a></span>
              <span class="fold"></span>
            </div>
          </div>
          {% endfor %}

          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    {% include "footer.html" %}

    <script src="{% static "jquery/js/jquery-1.9.0.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "jquery-ui/1.10.0/jquery-ui.js" %}"></script>
    <script src="{% static "js/jquery.masonry.min.js" %}"></script>

    {% block extra_js %}{% endblock %}
    <script src="{% static "js/utils.js" %}"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $(".close-system-msg").click(function() {
          $(this).closest('.system-msg').hide();
        });
      });
    </script>

    <!-- div clickable -->
    <script type="text/javascript">
    $(document).ready(function() {
        $('.clickable').click(function() {
        var href = $(this).data('href');
        window.location.href = href;
        });
    });
    </script>


    <!-- font resizer tickets -->
    <script type="text/javascript">
    $(document).ready(function() {
      var originalFontSize = 12;
      var sectionWidth = $('.resizer').width();

      $('.resizer b').each(function(){
        var spanWidth = $(this).width();
        var newFontSize = (sectionWidth/spanWidth) * originalFontSize;
        $(this).css({"font-size" : newFontSize, "line-height" : newFontSize/1.2 + "px"});
      });
    });
    </script>


    {% if not user.is_authenticated %}
      {% include "extra_js/signup_form.html" %}
      {% include "extra_js/login_form.html" %}
    {% else %}
      {% include "extra_js/profile_form.html" %}
    {% endif %}


  </body>
</html>

