<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Canubring - Save sending, earn carrying!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Boostrap styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"> -->

    <!-- jQuery UI -->
    <link type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/smoothness/jquery-ui.css" rel="Stylesheet" />

    <!-- Canubring styles -->
    <link href="{{ STATIC_URL }}css/canubring.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    {% include "header.html" %}

    <div class="container main">
      <div class="row">
        {% include "sidebar.html" %}
        <div class="span8">
          {% if user.is_authenticated %}
            {% include "menu.html" %}
          {% endif %}

          {% for message in messages %}
          <div class="system-msg welcome-box">
            <div class="inner">
              <div class="media" style="padding:10px"><h4 class="media-body">{{ message }}</h4></div>
              <span class="close-box"><a class="close-system-msg" href="#">cerrar</a></span>
              <span class="fold"></span>
            </div>
          </div>
          {% endfor %}

          {% block content %}{% endblock %}
        </div>
      </div>
    </div><!-- .container.main -->

    {% include "footer.html" %}

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

    <!-- Boostrap -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    {% block extra_js %}{% endblock %}

    {% if not user.is_authenticated %}
      {% include "extra_js/signup_form.html" %}
      {% include "extra_js/login_form.html" %}
    {% endif %}

    {% include "extra_js/profile_form.html" %}

  </body>
</html>

