{% extends "base.html" %}

{% block content %}

  <ul class="nav nav-tabs">
    <li {% if not past_cargos %}class="active"{% endif %}>
      <a href="{% url 'cargos' %}">Current cargos {% if user.userprofile.get_unread_current_cargo_comments %}<span class="badge badge-canubring">{{ user.userprofile.get_unread_current_cargo_comments }}</span>{% endif %}</a>
    </li>
    <li {% if past_cargos %}class="active"{% endif %}>
      <a href="{% url 'past_cargos' %}">Past cargos {% if user.userprofile.get_unread_past_cargo_comments %}<span class="badge badge-canubring">{{ user.userprofile.get_unread_past_cargo_comments }}</span>{% endif %}</a>
    </li>
  </ul>

<div class="profile-travels">
  <div class="tb-travels mytrips {% if past_cargos %}past{% endif %}">

    <div class="row">
      <div class="span1"></div>
      <div class="span1"><h5 class="th">Arrival</h5></div>
      <div class="span3"><h5 class="th">Travel</h5></div>
      <div class="span1"><h5 class="th">Traveller</h5></div>
      <div class="span1"><h5 class="th">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status</h5></div>
    </div>

    <ul class="unstyled">
      {% for cargo in cargos %}
        {% include "trip_list_item.html" with trip=cargo.trip %}
      {% empty %}
        <div class="alert">
          You do not have cargos to display here.
        </div>
      {% endfor %}
    </ul>

  </div>
</div>

{% include "pagination.html" with page=trips %}

{% include "modals/confirm_cargo_modal.html" %}
{% include "modals/review_traveller_modal.html" %}

{% endblock %}

{% block extra_js %}
  {% include "extra_js/trip_comments.html" %}
  {% include "extra_js/confirm_cargo_form.html" %}
  {% include "extra_js/review_traveller_form.html" %}
{% endblock %}

