{% extends "base.html" %}

{% block content %}
<div class="my-evaluations">

	<div class="hd">
		<div class="inner">
      <h4>Your reviews average:<span class="stars-big {{ user.userprofile.average_traveller_review_css_class_name }}"></span></h4>
		</div>
	</div>

	<div class="bd clearfix">
		<ul class="unstyled">
			<li>
      {% for cargo in user.userprofile.get_reviews_about_me %}
				<div class="item-review clearfix">
					<div class="sender">
            <p><a href="#">{{ cargo.requesting_user.get_full_name }}</a></p>	
					</div>
					<div class="content">
            {% comment %}
						<a class="btn btn-canubring-orange pull-right" href="#">Review</a>
            {% endcomment %}
            <span class="stars-big {{ cargo.traveller_review_css_class_name }} pull-right"></span>
            <p class="city"><span>FROM:</span>{{ cargo.trip.departure_city|upper }}</p>
            <p class="city"><span>TO:</span>{{ cargo.trip.destination_city|upper }}</p>	
            <p class="desc">{{ cargo.traveller_user_review_comment }}</p>
					</div>
				</div><!-- .item-review -->
      {% endfor %}
			</li>
		</ul>
		<div class="pagination pull-right">
	      <ul>
	        <li><a href="#">&laquo; Anterior</a></li>
	  		<li class="active"><a href="#">5</a></li>
	  		<li><a href="#">6</a></li>
	        <li><a href="#">Siguiente &raquo;</a></li>
	      </ul>
	  	</div><!-- .pagination -->
	</div>
	

</div><!-- my evaluations -->


{% endblock %}


