{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="my-evaluations">

	<div class="hd">
		<div class="inner">
      <h4>{% trans "Your reviews average" %}:<span class="stars-big {{ user.userprofile.average_reviews_about_me_css_class_name }}"></span></h4>
		</div>
	</div>

  <ul class="nav nav-tabs">
    <li {% if not reviews_by_me %}class="active"{% endif %}>
      <a href="{% url 'evaluations' %}">{% trans "Reviews about you" %}</a>
    </li>
    <li {% if reviews_by_me %}class="active"{% endif %}>
      <a href="{% url 'evaluations_by_me' %}">{% trans "Reviews by you " %}{% if user.userprofile.unreviewed_by_me %}<span class="badge badge-canubring">{{ user.userprofile.unreviewed_by_me }}</span>{% endif %}</a>
    </li>
  </ul>

	<div class="bd clearfix">
		<ul class="unstyled">
      {% if reviews_by_me %}
        {% for cargo in reviews %}
          {% if user == cargo.requesting_user %}
            {% include "review_list_item.html" with author=cargo.traveller_user reviewed_user=cargo.traveller_user css_class_name=cargo.traveller_review_css_class_name review_comment=cargo.traveller_user_review_comment %}
          {% else %}
            {% include "review_list_item.html" with author=cargo.requesting_user reviewed_user=cargo.requesting_user css_class_name=cargo.requesting_user_review_css_class_name review_comment=cargo.requesting_user_review_comment %}
          {% endif %}
        {% empty %}
        <li>
          <div class="alert">
            {% trans "You do not have reviews yet" %}
          </div>
        </li>
        {% endfor %}
      {% else %}
        {% for cargo in reviews %}
          {% if user == cargo.requesting_user %}
            {# done #}
            {% include "review_list_item.html" with author=cargo.traveller_user reviewed_user=cargo.traveller_user css_class_name=cargo.requesting_user_review_css_class_name review_comment=cargo.requesting_user_review_comment %}
          {% else %}
            {# done #}
            {% include "review_list_item.html" with author=cargo.requesting_user reviewed_user=cargo.traveller_user css_class_name=cargo.traveller_review_css_class_name review_comment=cargo.traveller_user_review_comment %}
          {% endif %}
        {% empty %}
        <li>
          <div class="alert">
            {% trans "You do not have reviews yet" %}
          </div>
        </li>
        {% endfor %}
      {% endif %}
		</ul>

    {% include "pagination.html" with page=trips %}

	</div>
	
</div>

{% include "modals/review_requesting_user_modal.html" %}
{% include "modals/review_traveller_modal.html" %}

{% endblock %}

{% block extra_js %}
  {% include "extra_js/review_requesting_user_form.html" %}
  {% include "extra_js/review_traveller_form.html" %}
{% endblock %}

