    <footer>
      <div class="container">
        <div class="row">
        <div class="span5">
          <p>Copyright © 2012 canubring.com</p>
        </div>
        <div class="offset span7">
          <ul class="unstyled inline pull-right">
            <li><a href="#" title="">Luggage regulations</a>&nbsp;&nbsp;&nbsp;|</li>
            <li><a href="#" title="">Terms & conditions</a>&nbsp;&nbsp;&nbsp;|</li>
            <li><a href="#" title="">Faq</a>&nbsp;&nbsp;&nbsp;|</li>
            <li><a href="#" title="">Contact us</a></li>
          </ul>
        </div>
        </div>
      </div>
    </footer>


