<footer>
  <div class="container">
    <div class="row">
    <div class="span5">
      <p>Copyright © 2012 canubring.com</p>
      <div class="social">
        <ul class="unstyled inline">
          <li><a href="http://www.twitter.com/canubring" class="ico twitter"><span>Twitter</span></a></li>
          <li><a href="http://www.facebook.com/canubring" class="ico facebook"><span>Facebook</span></a></li>
          <li><a href="https://plus.google.com/u/0/114450767116917753708/posts" class="ico plus"><span>Google Plus</span></a></li>
          <li><a href="http://www.pinterest.com/canubring" class="ico pinterest"><span>Pinterest</span></a></li>
          <li><a href="http://www.instagram.com/canubring" class="ico instagram"><span>Instagram</span></a></li>
          <li><a href="http://www.flickr.com/canubring" class="ico flickr"><span>Flickr</span></a></li>
        </ul>
      </div><!-- .social -->
    </div>
    <div class="offset span7">
      <ul class="unstyled inline pull-right">
        <li><a href="#" title="">Luggage regulations</a>&nbsp;&nbsp;&nbsp;|</li>
        <li><a href="#" title="">Terms & conditions</a>&nbsp;&nbsp;&nbsp;|</li>
        <li><a href="#" title="">Faq</a>&nbsp;&nbsp;&nbsp;|</li>
        <li><a href="#" title="">Contact us</a></li>
      </ul>
    </div>
    </div>
  </div>
</footer>

