{% load i18n %}

<header>
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="logo-header pull-left">
          <h1>
            <a href="{% url 'home' %}" title="Canubring - {% trans "Save sending, earn carrying!" %}"><span>Canubring - {% trans "Save sending, earn carrying!" %}</span></a>
          </h1>
        </div>
      </div>
      <div class="span8">
        <div class="row">
          <div class="span8">
            <div class="user-nav pull-right">

              <!-- nav language -->
              <ul class="nav nav-pills language pull-right">
                <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" id="drop5" class="dropdown-toggle">Language:
                  {% if LANGUAGE_CODE == 'es' %}Español{% elif LANGUAGE_CODE == 'pt' %}Português{% else %}English{% endif %}
                  <b class="caret"></b></a>
                  <ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu3">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                      <li><a href="{% url 'set_language_as_get_request' language.code %}" tabindex="-1">{{ language.name_local }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
              
              <!-- nav login | signup -->
              {% if user.is_authenticated %}
              <ul class="nav nav-pills login pull-right">
                <li style="margin-right:-5px;"><img src="http://placehold.it/30x30" class="img-circle" style="margin-top:4px;"></li>
                <li>
                  <a href="{% url 'profile' %}">{{ user.get_full_name }}</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
                </li>
              </ul>
              {% else %}
              <ul class="nav nav-pills login pull-right">
                <li>
                  <a href="#modal-signup" data-toggle="modal">{% trans "Sign up" %}</a>
                </li>
                <li>
                  <a href="#modal-login" data-toggle="modal">{% trans "Login" %}</a>
                </li>
              </ul>
              {% endif %}

              {% if not user.is_authenticated %}
                {% include "modals/signup_modal.html" %}
                {% include "modals/login_modal.html" %}
              {% else %}
                {% include "modals/profile_modal.html" %}
              {% endif %}

            </div><!-- .user-nav -->
          </div>
        </div>
        <div class="row" style="height:65px;">
          <div class="span5">
            <div class="claim">
              <h2>{% trans "Save sending, earn carrying!" %}</h2>
            </div><!-- .claim -->
          </div>
          <div class="span3">
            <!--
            <div class="social pull-right">
              <ul class="unstyled inline">
                <li><a href="http://www.twitter.com/canubring" class="ico twitter" target="_blank"><span>Twitter</span></a></li>
                <li><a href="http://www.facebook.com/canubring" class="ico facebook" target="_blank"><span>Facebook</span></a></li>
                <li><a href="https://plus.google.com/u/0/114450767116917753708/posts" class="ico plus" target="_blank"><span>Google Plus</span></a></li>
                <li><a href="http://www.pinterest.com/canubring" class="ico pinterest" target="_blank"><span>Pinterest</span></a></li>
                <li><a href="http://www.instagram.com/canubring" class="ico instagram" target="_blank"><span>Instagram</span></a></li>
                <li><a href="http://www.flickr.com/canubring" class="ico flickr" target="_blank"><span>Flickr</span></a></li>
              </ul>
            </div>
            .social -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- .container -->
</header>

