<header>
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="logo-header pull-left">
          <h1>
            <a href="{% url 'home' %}" title="Canubring - Save sending, earn carrying!"><span>Canubring - Save sending, earn carrying!</span></a>
          </h1>
        </div><!-- .logo-header -->
      </div>
      <div class="span8">
        <div class="row">
          <div class="span8">
            <div class="user-nav pull-right">

              <!-- nav language -->
              <ul class="nav nav-pills language pull-right">
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" role="button" id="drop5" class="dropdown-toggle">Language: English <b class="caret"></b></a>
                  <ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu3">
                    <li><a href="#" tabindex="-1">Action</a></li>
                    <li><a href="#" tabindex="-1">Another action</a></li>
                    <li><a href="#" tabindex="-1">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#" tabindex="-1">Separated link</a></li>
                  </ul>
                </li>
              </ul>
              
              <!-- nav login | signup -->
              {% if user.is_authenticated %}
              <ul class="nav nav-pills login pull-right">
                <li>
                  <a href="{% url 'profile' %}">{{ user.get_full_name }}</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
              {% else %}
              <ul class="nav nav-pills login pull-right">
                <li>
                  <a href="#modal-signup" data-toggle="modal">Sign up</a>
                </li>
                <li>
                  <a href="#">Login</a>
                </li>
              </ul>
              {% endif %}

              
              {% include "modals/signup_modal.html" %}

            </div><!-- .user-nav -->
          </div>
        </div>
        <div class="row" style="height:65px;">
          <div class="span5">
            <div class="claim">
              <h2>Save sending, earn carrying!</h2>
            </div><!-- .claim -->
          </div>
          <div class="span3">
            <div class="social pull-right">
              social
            </div><!-- .social -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- .container -->
</header>

