    <header>
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="logo-header pull-left">
              <h1>
                <a href="#" title="Canubring - Save sending, earn carrying!"><span>Canubring - Save sending, earn carrying!</span></a>
              </h1>
            </div><!-- .logo-header -->
          </div>
          <div class="span8">
            <div class="row">
              <div class="span8">
                <div class="user-nav pull-right">

                  <!-- nav language -->
                  <ul class="nav nav-pills language pull-right">
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" role="button" id="drop5" class="dropdown-toggle">Language: English <b class="caret"></b></a>
                      <ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu3">
                        <li><a href="#" tabindex="-1">Action</a></li>
                        <li><a href="#" tabindex="-1">Another action</a></li>
                        <li><a href="#" tabindex="-1">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#" tabindex="-1">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                  
                  <!-- nav login | signup -->
                  <ul class="nav nav-pills login pull-right">
                    <li>
                      <a href="#modal-signup" data-toggle="modal">Sign up</a>
                    </li>
                    <li>
                      <a href="#">Login</a>
                    </li>
                  </ul>

                  
                  <div id="modal-signup" class="modal sz1 hide fade modal-cnb-signup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body clearfix">
                      <h3>Sign up for canubring</h3>
                      <div class="aux-form">
                        <form class="form-horizontal">
                          <div class="control-group">
                            <input class="input-xlarge input-canubring" type="text" placeholder="Your email address">
                            <div class="error"><p>*Requerided field</p></div>
                          </div>
                          <div class="control-group">
                            <input class="input-xlarge input-canubring" type="text" placeholder="Choose a password">
                          </div>
                          <div class="control-group">
                            <label class="checkbox">
                              <input type="checkbox"> I have read and agree to the terms & conditions
                            </label>
                          </div>
                          <div class="clearfix">
                            <p><a href="#" class="btn btn-canubring-orange pull-right">Get started</a></p>
                          </div>
                        </form>
                        <p>ALREADY A MEMBER?  <a href="#">LOG IN TO YOUR ACCOUNT</a></p>
                      </div>
                      <div class="aux-buttons">
                        <a href="#" title=""><img src="{{ STATIC_URL }}img/button_facebook.png" alt="" title="" /></a>
                        <a href="#" title=""><img src="{{ STATIC_URL }}img/button_google.png" alt="" title="" /></a>
                        <a href="#" title=""><img src="{{ STATIC_URL }}img/button_linkedin.png" alt="" title="" /></a>
                      </div>
                    </div>
                  </div><!-- .modal signup -->

                </div><!-- .user-nav -->
              </div>
            </div>
            <div class="row" style="height:65px;">
              <div class="span5">
                <div class="claim">
                  <h2>Save sending, earn carrying!</h2>
                </div><!-- .claim -->
              </div>
              <div class="span3">
                <div class="social pull-right">
                  social
                </div><!-- .social -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- .container -->
    </header>

