          <div class="topbar-nav clearfix">
            <ul class="unstyled inline clearfix">
              <li class="profile">
                <a href="#">My profile</a>
              </li>
              <li class="trips">
                <a href="#">My trips</a>
              </li>
              <li class="cargos">
                <a href="#">My cargos</a>
              </li>
              <li class="evaluations active">
                My evaluations
              </li>
            </ul>
          </div><!-- .topbar-nav -->

