{% extends "base.html" %}

{% block content %}
<div class="">
  <h2>Modals</h2>
</div>

<p><a href="#modal-cargo" data-toggle="modal">Formulario de Encargo</a></p>
<p><a href="#modal-cargo-confirm" data-toggle="modal">Formulario de Encargo Confirm</a></p>
<p><a href="#modal-rate" data-toggle="modal">Rate user</a></p>

{% include "modals/cargo_modal.html" %}

<!-- Modal cargo confirm -->
<div id="modal-cargo-confirm" class="modal sz2 hide fade modal-cnb-cargo" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body clearfix">
	 	<h3>FORMULARIO DE ENCARGO</h3>
		
		<div class="block clearfix">
			<h4>TU ENCARGO PERTENECE A LA SIGUIENTE CATEGORÍA:</h4>
			<p class="desc">Medicamentos</p>
		</div>
		<div class="block clearfix">
			<h4>el precio acordado es:</h4>
			<p class="desc">235€</p>
		</div>
		<div class="block clearfix">
			<h4>EL LUGAR DE ENCUENTRO DEL VIAJERO CON TU ENCARGO ES:</h4>
			<p class="desc">el viajero lo comprará</p>
		</div>
		<div class="block clearfix">
			<h4>EL LUGAR DE DESPACHO ACORDADO ES:</h4>
			<p class="desc">LA DIRECCIÓN DEL VIAJERO</p>
		</div>

		<div class="submit-box clearfix">
          <p>
          	<input type="submit" value="Aceptar" class="btn btn-canubring-blue pull-left" style="margin-right:10px;">
          	<input type="submit" value="Rechazar" class="btn btn-canubring-orange pull-left">
          </p>
        </div>

	</div>
</div><!-- .modal confirm -->

<!-- Modal rate -->
<div id="modal-rate" class="modal sz2 hide fade modal-cnb-rate" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body clearfix">
	 	<h3>¿CÓMO FUE TU EXPERIENCIA CON EL VIAJERO TOMÁS CUSSEN?</h3>

	 	<div class="block clearfix">
	 		<div class="control-group">
		 		<label class="radio">
		 			<p class="stars-big five"></p>
	            	<input type="radio"><span class="rate-text">excelente</span>
	          	</label>
	         </div>

	          <div class="control-group">
		 		<label class="radio">
		 			<p class="stars-big two"></p>
	            	<input type="radio"><span class="rate-text">regular</span>
	          	</label>
	         </div>

	         <div class="control-group">
		 		<label class="radio">
		 			<p class="stars-big four"></p>
	            	<input type="radio"><span class="rate-text">muy buena</span>
	          	</label>
	         </div>	

	         <div class="control-group">
		 		<label class="radio">
		 			<p class="stars-big one"></p>
	            	<input type="radio"><span class="rate-text">mala</span>
	          	</label>
	         </div>

	         <div class="control-group">
		 		<label class="radio">
		 			<p class="stars-big three"></p>
	            	<input type="radio"><span class="rate-text">buena</span>
	          	</label>
	         </div>

	         <div class="control-group">
		 		<label class="radio">
		 			<p class="stars-big"></p>
	            	<input type="radio"><span class="rate-text">pésima</span>
	          	</label>
	         </div>
	 	</div>

	 	<h4>¿QUIERES HACER ALGUN COMENTARIO ACERCA DE ESTE VIAJERO?</h4>
 		<div class="control-group-nofloat clearfix">
 			<textarea class="input-canubring" placeholder="Este comentario aparecerá en el perfil del viajero."></textarea>		
 		</div>

 		<div class="submit-box clearfix pull-right">
          <p><input type="submit" value="Enviar Evaluación" class="btn btn-canubring-orange"></p>
          <p><a href="#">[Responder más tarde]</a></p>
        </div>
	 	

	</div>
</div><!-- .modal rate -->


{% endblock %}


