{% extends "base.html" %}

{% block content %}
<div class="">
  <h2>Modals</h2>
</div>

<p><a href="#modal-cargo" data-toggle="modal">Formulario de Encargo</a></p>
<p><a href="#modal-cargo-confirm" data-toggle="modal">Formulario de Encargo Confirm</a></p>


<!-- Modal cargo -->
<div id="modal-cargo" class="modal sz2 hide fade modal-cnb-cargo" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body clearfix">
	 	<h3>FORMULARIO DE ENCARGO</h3>
	 	<p class="desc">LLENA EL FORMULARIO CON LO ACORDADO CON EL ENCARGADOR, ENVÍASELO Y ESPERA QUE LO ACEPTE.</p>
		
		<div class="block clearfix">
			<h4>MARCA LA CATEGORÍA DEL ENCARGO QUE VAS A LLEVAR:</h4>
			<div class="control-group">
	          	<label class="checkbox">
            		<input type="checkbox">alimentos
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">medicamentos
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">duty free
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">electrónica
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">libros
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">bienes personales
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">alimentos
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">medicamentos
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">duty free
          		</label>
          		<label class="checkbox others">
            		<input type="checkbox">Otros
          		</label>
          		<input type="text" class="input-xlarge others-inp" />
	        </div>
		</div>

		<div class="block clearfix">
			<h4>¿QUÉ PRECIO ACORDASTE CON EL ENCARGADOR?</h4>
			<div class="control-group">
	          	
            		<input type="text" class="input-small" />
            		<select  class="input-small">
            			<option>uso $</option>
            			<option>uso €</option>
            		</select>
          		
	        </div>
		</div>

		<div class="block clearfix">
			<h4>Lugar de encuentro:</h4>
			<div class="control-group">
	          	<label class="checkbox">
            		<input type="checkbox">alimentos
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">medicamentos
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">duty free
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">electrónica
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">libros
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">bienes personales
          		</label>
	        </div>
		</div>

		<div class="block clearfix">
			<h4>Lugar de despacho:</h4>
			<div class="control-group">
	          	<label class="checkbox">
            		<input type="checkbox">alimentos
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">medicamentos
          		</label>
          		<label class="checkbox">
            		<input type="checkbox">duty free
          		</label>
	        </div>
		</div>

		<div class="submit-box clearfix">
          <p><input type="submit" value="Enviar Formulario" class="btn btn-canubring-orange pull-right"></p>
        </div>


	</div>
</div><!-- .modal cargo -->

<!-- Modal cargo confirm -->
<div id="modal-cargo-confirm" class="modal sz2 hide fade modal-cnb-cargo" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body clearfix">
	 	<h3>FORMULARIO DE ENCARGO</h3>
		
		<div class="block clearfix">
			<h4>TU ENCARGO PERTENECE A LA SIGUIENTE CATEGORÍA:</h4>
			<p class="desc">Medicamentos</p>
		</div>
		<div class="block clearfix">
			<h4>el precio acordado es:</h4>
			<p class="desc">235€</p>
		</div>
		<div class="block clearfix">
			<h4>EL LUGAR DE ENCUENTRO DEL VIAJERO CON TU ENCARGO ES:</h4>
			<p class="desc">el viajero lo comprará</p>
		</div>
		<div class="block clearfix">
			<h4>EL LUGAR DE DESPACHO ACORDADO ES:</h4>
			<p class="desc">LA DIRECCIÓN DEL VIAJERO</p>
		</div>


		<div class="submit-box clearfix">
          <p>
          	<input type="submit" value="Aceptar" class="btn btn-canubring-blue pull-left" style="margin-right:10px;">
          	<input type="submit" value="Rechazar" class="btn btn-canubring-orange pull-left">
          </p>
          
        </div>


	</div>
</div><!-- .modal confirm -->


{% endblock %}


