{% extends "base.html" %}

{% block content %}

<div class="upload-trip">
  <h2>Upload your trip!</h2>
  {% include "new_trip_leg.html" %}
  {% include "new_trip_leg.html" with show_submit_btn='true' %}
</div><!-- .upload-trip -->

{% endblock %}

{% block extra_js %}

<!-- Google Places Autocomplete widget Js -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=es"></script>
<script type="text/javascript" charset="utf-8">
  //var input = document.getElementById('departure-city');
  //var input2 = document.getElementById('destination-city');
  var options = {
    types: ['(cities)'],
    // componentRestrictions: {country: 'fr'}
  };
  $('.city-input').each(function() {
    autocomplete = new google.maps.places.Autocomplete(this, options);
  })
  //autocomplete = new google.maps.places.Autocomplete(input, options);
  //autocomplete2 = new google.maps.places.Autocomplete(input2, options);
</script>

<script>
  $(function() {
    $(".datepicker").each(function() {
      $(this).datepicker({ minDate: 0 });
    })
  });
</script>

<script src="{{ STATIC_URL }}js/utils.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('#new-trip-submit-btn').click(function() {
      var data = new Array()
      $('form#new-trip-form').each(function() {
        data.push($(this).serializeFormJSON());
      })
      $.ajax({
        url: '/api/v1/trip/',
        type: 'patch',
        dataType: 'application/json',
        contentType: 'application/json',
        //data: JSON.stringify($('form#new-trip-form').serializeFormJSON()),
        data: '{"objects": '+JSON.stringify(data)+'}',
        complete: function(xhr, textStatus) {
            //console.log(xhr.status);
            window.location = "/my/trips/";
        }
      });
    });
  })
</script>

{% endblock %}

