{% extends "base.html" %}

{% block content %}
<div class="upload-trip">
  <h2>Upload your trip!</h2>

  <table border="0">
      <tr><th>Header</th></tr>
      <tr><th>Data</th></tr>
      {{ form }}
  </table>

  <script type="text/javascript" charset="utf-8">
    function my_url_param_generator(term, page, context) {
          var field_id = $(this).data('field_id'),
            res = {
              'term': term,
              'page': page,
              'context': country.find('option:selected').val()
            };
          if (field_id) {
            res['field_id'] = field_id;
          }
          return res;
        }
        //return django_select2.get_url_params(term, page, $('#id_country').val());
  </script>


  <div class="item-leg clearfix">
    <h4>Fill your first data leg</h4>
    <form class="form-inline">
      <div class="control-group">
        <input type="text" class="input-medium input-canubring" placeholder="origin country" />
        <input type="text" class="input-medium input-canubring" placeholder="origin city" />
        <input type="text" class="input-medium input-canubring" placeholder="departure date" />
      </div>
      <div class="control-group">
        <input type="text" class="input-medium input-canubring" placeholder="destination country" />
        <input type="text" class="input-medium input-canubring" placeholder="destination city" />
        <input type="text" class="input-medium input-canubring" placeholder="arrival date" />
      </div>
      <div class="control-group">
        <div class="travelling-by pull-left">
          <h5>Travelling by:</h5>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_plane.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_train.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_car.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_bus.png" alt="" title=""> 
          </label>
        </div>
        <textarea class="input-canubring" placeholder="origin country"></textarea>
      </div>
    </form>
  </div><!-- .item-leg -->

   <div class="item-leg clearfix">
    <h4>Fill your first data leg</h4>
    <form class="form-inline">
      <div class="control-group">
        <input type="text" class="input-medium input-canubring" placeholder="origin country" />
        <input type="text" class="input-medium input-canubring" placeholder="origin city" />
        <input type="text" class="input-medium input-canubring" placeholder="departure date" />
      </div>
      <div class="control-group">
        <input type="text" class="input-medium input-canubring" placeholder="destination country" />
        <input type="text" class="input-medium input-canubring" placeholder="destination city" />
        <input type="text" class="input-medium input-canubring" placeholder="arrival date" />
      </div>
      <div class="control-group">
        <div class="travelling-by pull-left">
          <h5>Travelling by:</h5>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_plane.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_train.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_car.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_bus.png" alt="" title=""> 
          </label>
          <p><a href="#" title="" class="remove-leg">remove leg</a></p>
        </div>
        <textarea class="input-canubring" placeholder="origin country"></textarea>
      </div>
    </form>
  </div><!-- .item-leg -->

   <div class="item-leg clearfix">
    <h4>Fill your first data leg</h4>
    <form class="form-inline">
      <div class="control-group">
        <input type="text" class="input-medium input-canubring" placeholder="origin country" />
        <input type="text" class="input-medium input-canubring" placeholder="origin city" />
        <input type="text" class="input-medium input-canubring" placeholder="departure date" />
      </div>
      <div class="control-group">
        <input type="text" class="input-medium input-canubring" placeholder="destination country" />
        <input type="text" class="input-medium input-canubring" placeholder="destination city" />
        <input type="text" class="input-medium input-canubring" placeholder="arrival date" />
      </div>
      <div class="control-group">
        <div class="travelling-by pull-left">
          <h5>Travelling by:</h5>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_plane.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_train.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_car.png" alt="" title=""> 
          </label>
          <label class="checkbox">
            <input type="checkbox"><img src="{{ STATIC_URL }}img/ico_bus.png" alt="" title=""> 
          </label>
          <p><a href="#" title="" class="remove-leg">remove leg</a></p>
          <p><a href="#" title="" class="add-leg">add another leg</a></p>
        </div>
        <textarea class="input-canubring" placeholder="origin country"></textarea>
        <p class="submit-trip">
          <label class="checkbox">
            <input type="checkbox">one way
          </label>
          <label class="checkbox">
            <input type="checkbox">round trip
          </label>
          <label class="checkbox">
            <input type="checkbox">multi-city
          </label>
          <a class="btn btn-canubring-orange pull-right" href="#">Upload</a>
        </p>
      </div>
    </form>
  </div><!-- .item-leg -->

</div><!-- .upload-trip -->
{% endblock %}

