{% load i18n %}

{% if page.has_other_pages %}
<div class="pagination" style="margin-left:100px">
  <ul>
    {% if page.has_previous %}
    <li><a href="?page={{ page.previous_page_number }}">&laquo;&nbsp;{% trans "Previous" %}</a></li>
    {% endif %}
    {% for page_num in page.paginator.page_range %}
    <li {% if page.number == page_num %}class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
    {% endfor %}
    {% if page.has_next %}
    <li><a href="?page={{ page.next_page_number }}">{% trans "Next" %}&nbsp;&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

