{% extends "base.html" %}

{% block content %}
<div class="welcome-box">
  <div class="inner">
    <h3>Welcome {{ user.username }}</h3>
    <div class="media"><img src="{{ STATIC_URL }}img/ico_mail.png" alt="" title="" class="pull-left media-object"><h4 class="media-body">Please check your inbox ({{ user.username }}) and verify your email address.</h4></div>
    <span class="close-box"><a href="#" title="">cerrar</a></span>
    <span class="fold"></span>
  </div>
</div><!-- .welcome-box -->

<div class="profile-ticket">
  <div class="media">
    <img class="media-object img-polaroid pull-left" src="{{ user.userprofile.square.url }}">
    <span class="sep-holes"></span>
    <div class="media-body">
      <h1>{{ user.username }}<small><a href="#">[edit profile]</a></small></h1>
      <p class="country"><a href="#" title="">Chile</a><span class="stars three"></span></p>
      <p class="language">idiomas</p>
      <p class="trips">4 viajes realizads</p>
      <p class="social">
        <a href="#" title="" class="profile-social twitter">Twitter</a>
        <a href="#" title="" class="profile-social facebook">Facebook</a>
        <a href="#" title="" class="profile-social pinterest">Pinterest</a>
        <a href="#" title="" class="profile-social plus">Googleplus</a>
        <a href="#" title="" class="profile-social linkedin">Linkedin</a>
        <a href="#" title="" class="profile-social instagram">Instagram</a>
        <a href="#" title="" class="profile-social flickr">Flickr</a>
        <a href="#" title="" class="profile-social youtube">Youtube</a>
      </p>
    </div>
  </div>
</div><!-- .profile-ticket -->

<div class="profile-reviews">
  <h4 class="tit-int">Reviews about you</h4>
  <div class="item">
    <div class="media">
      <img class="media-object img-polaroid pull-left" src="{{ STATIC_URL }}img/fake_70x70.png">
      <div class="media-body">
        <div class="comment-box">
          <h5><a href="#">Francisca Vega</a></h5>
          <p>Tomás fue muy responsable y puntual con el encargo que le pedí. 100% recomendable como viajero.</p>
        </div>
        <span class="arrow"></span>
      </div>
    </div>
  </div><!-- .item -->
  <div class="item">
    <div class="media">
      <img class="media-object img-polaroid pull-left" src="{{ STATIC_URL }}img/fake_70x70.png">
      <div class="media-body">
        <div class="comment-box">
          <h5><a href="#">Francisca Vega</a></h5>
          <p>Tomás fue muy responsable y puntual con el encargo que le pedí. 100% recomendable como viajero.</p>
        </div>
        <span class="arrow"></span>
      </div>
    </div>
  </div><!-- .item -->
  <div class="item">
    <div class="media">
      <img class="media-object img-polaroid pull-left" src="{{ STATIC_URL }}img/fake_70x70.png">
      <div class="media-body">
        <div class="comment-box">
          <h5><a href="#">Francisca Vega</a></h5>
          <p>Tomás fue muy responsable y puntual con el encargo que le pedí. 100% recomendable como viajero.</p>
        </div>
        <span class="arrow"></span>
      </div>
    </div>
  </div><!-- .item -->
</div><!-- .profile-reviews -->

{% endblock %}

