        <li>
          <div class="item-review clearfix">
            <div class="sender">
              <p><a href="{{ reviewed_user.userprofile.get_absolute_url }}">{{ reviewed_user.get_full_name }}</a></p>	
            </div>
            <div class="content">
              {% comment %}
              <a class="btn btn-canubring-orange pull-right" href="#">Review</a>
              {% endcomment %}
              <span class="stars-big {{ css_class_name }} pull-right"></span>
              <p class="city"><span>FROM:</span>{{ cargo.trip.departure_city|upper }}</p>
              <p class="city"><span>TO:</span>{{ cargo.trip.destination_city|upper }}</p>	
              <p class="desc">{{ review_comment }}</p>
            </div>
          </div><!-- .item-review -->
        </li>

