<div class="row trip-activity" style="display:none">
  <div class="span8">
    <div class="comments">
      <ul class="unstyled">
        <li>
          <div class="comment-item media reply">
            <div class="media-body">
              <form>
                <textarea class="input-canubring" placeholder="Contact this traveller to ask him/her for your cargo."></textarea>
                <a href="#" class="btn btn-canubring-orange pull-right">Send</a>
              </form>
            </div>
          </div><!-- comment-item reply-->
        </li>
      </ul>
    </div><!-- .comments -->
  </div>
</div>

