<div class="row trip-activity" style="display:none">
  <div class="span8">
    <div class="comments">
      <ul class="unstyled">
        <li>
          <div class="item-hd active">
            <span class="name">maría angelica gonzález</span>
            <span class="arrow"></span>
            <span class="balloon"></span>
            <span class="num">3</span>
          </div>
        </li>

        <li>
          <div class="item-hd active open">
            <span class="name">maría angelica gonzález</span>
            <span class="arrow"></span>
            <span class="hand"></span>
            <span class="num">89</span>
          </div>
          <div class="comment-item media">
            <img src="{{ STATIC_URL }}img/fake_45x45.png" alt="" title="" class="media-object img-polaroid pull-left" />
            <div class="media-body">
              <h5><a href="#">Lionel Messi</a></h5>
              <p class="txt">Llevo solamente balones de oro ganados por mi. Gracias.</p>
              <p class="date">27/09/2012 at 13:46 hrs.</p>
            </div>
          </div><!-- comment-item -->
          <div class="comment-item media highlighted">
            <img src="{{ STATIC_URL }}img/fake_45x45.png" alt="" title="" class="media-object img-polaroid pull-left" />
            <div class="media-body">
              <h5><a href="#">Lionel Messi</a></h5>
              <p class="txt">Llevo solamente balones de oro ganados por mi. Gracias.</p>
              <p class="date">27/09/2012 at 13:46 hrs.</p>
            </div>
          </div><!-- comment-item -->
          <div class="comment-item media">
            <img src="{{ STATIC_URL }}img/fake_45x45.png" alt="" title="" class="media-object img-polaroid pull-left" />
            <div class="media-body">
              <h5><a href="#">Lionel Messi</a></h5>
              <p class="txt">Llevo solamente balones de oro ganados por mi. Gracias.</p>
              <p class="date">27/09/2012 at 13:46 hrs.</p>
            </div>
          </div><!-- comment-item -->
          <div class="comment-item media reply">
            <img src="{{ STATIC_URL }}img/fake_45x45.png" alt="" title="" class="media-object img-polaroid pull-left" />
            <div class="media-body">
              <form>
                <textarea class="input-canubring" placeholder="Responde a este encargador. Cuando lleguen a un acuerdo, confirma el encargo."></textarea>
                <span class="delete"><a href="#" title="">Borrar</a></span>
                <a href="#" class="btn btn-canubring-orange pull-right">Reply</a>
                <a href="#" class="btn btn-canubring-orange pull-right">Confirmar encargo</a>
              </form>
            </div>
          </div><!-- comment-item reply-->
        </li>

        <li>
          <div class="item-hd">
            <span class="name">maría angelica gonzález</span>
            <span class="arrow"></span>
            <span class="hand"></span>
          </div>
        </li>
        <li>
          <div class="item-hd">
            <span class="name">maría angelica gonzález</span>
            <span class="arrow"></span>
            <span class="balloon"></span>
          </div>
        </li>
      </ul>
    </div><!-- .comments -->
  </div>
</div>

