<div class="row trip-activity" style="display:none">
  <div class="span8">
    <div class="comments">
      <ul class="unstyled">
        {% if my_cargos %}
          <li>
            {% include "trip_comments_thread.html" %}
          </li>
        {% else %}
          {% for cargo in trip.cargo_set.all %}
          <li>
            <!-- <div class="item-hd active open"> -->
            <div class="item-hd">
              <span class="name">{{ cargo.requesting_user.get_full_name }}</span>
              <span class="arrow"></span>
              <!-- <span class="hand"></span> -->
              <span class="hand"></span>
              <span class="num">{{ cargo.cargocomment_set.count }}</span>
            </div>
            {% include "trip_comments_thread.html" %}
          </li>
          {% endfor %}
        </li>
        {% endif %}
      </ul>
    </div><!-- .comments -->
  </div>
</div>

