{% extends "base.html" %}

{% block content %}
<div class="upload-trip">
  <h2>My trips</h2>
  <a href="{% url 'new_trip' %}" class="btn">Upload new trip</a>
</div>

<div class="profile-travels">
           
            <div class="tb-travels mytrips">
              <div class="row">
                <div class="span1"></div>
                <div class="span2"><h5 class="th">Date</h5></div>
                <div class="span3"><h5 class="th">Travel</h5></div>
                <div class="span2"><h5 class="th">Status</h5></div>
              </div>
              <ul class="unstyled">
                <li class="item">
                  <div class="row">
                    <div class="span1">
                      <div class="open-plane">
                        <a href="#" title=""><img src="{{ STATIC_URL }}img/ico_open.png" alt="" title="" /></a>
                        <span class="ico-bus"></span>
                      </div>
                    </div>
                    <div class="span2">
                      <p class="desc"><span>Dep.</span> 16.10.2012</p>
                      <p class="desc"><span>Arrive.</span> 16.10.2012</p>
                    </div>
                    <div class="span3">
                      <p class="desc"><span>From</span> Barcelona - Chile</p>
                      <p class="desc"><span>To</span> Santiago Chile</p>
                    </div>
                    <div class="span2">
                      <div class="status">
                        star
                        <div class="num"><p>2</p></div>
                      </div>
                    </div>
                  </div>
                </li><!-- .item -->
                <li class="item active">
                  <div class="row">
                    <div class="span1">
                      <div class="open-plane">
                        <a href="#" title=""><img src="{{ STATIC_URL }}img/ico_open_active.png" alt="" title="" /></a>
                        <span class="ico-plane"></span>
                      </div>
                    </div>
                    <div class="span2">
                      <p class="desc"><span>Dep.</span> 16.10.2012</p>
                      <p class="desc"><span>Arrive.</span> 16.10.2012</p>
                    </div>
                    <div class="span3">
                      <p class="desc"><span>From</span> Barcelona - Chile</p>
                      <p class="desc"><span>To</span> Santiago Chile</p>
                    </div>
                    <div class="span2">
                      <div class="status">
                        star
                        <div class="num"><p>2</p></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="span8">
                      <div class="comments">
                        <ul class="unstyled">
                          <li>
                            <div class="item-hd active">
                              <span class="name">maría angelica gonzález</span>
                              <span class="arrow"></span>
                              <span class="balloon"></span>
                              <span class="num">3</span>
                            </div>
                          </li>

                          <li>
                            <div class="item-hd active open">
                              <span class="name">maría angelica gonzález</span>
                              <span class="arrow"></span>
                              <span class="hand"></span>
                              <span class="num">89</span>
                            </div>
                            <div class="comment-item media">
                              <img src="{{ STATIC_URL }}img/fake_45x45.png" alt="" title="" class="media-object img-polaroid pull-left" />
                              <div class="media-body">
                                <h5><a href="#">Lionel Messi</a></h5>
                                <p class="txt">Llevo solamente balones de oro ganados por mi. Gracias.</p>
                                <p class="date">27/09/2012 at 13:46 hrs.</p>
                              </div>
                            </div><!-- comment-item -->
                            <div class="comment-item media highlighted">
                              <img src="{{ STATIC_URL }}img/fake_45x45.png" alt="" title="" class="media-object img-polaroid pull-left" />
                              <div class="media-body">
                                <h5><a href="#">Lionel Messi</a></h5>
                                <p class="txt">Llevo solamente balones de oro ganados por mi. Gracias.</p>
                                <p class="date">27/09/2012 at 13:46 hrs.</p>
                              </div>
                            </div><!-- comment-item -->
                            <div class="comment-item media">
                              <img src="{{ STATIC_URL }}img/fake_45x45.png" alt="" title="" class="media-object img-polaroid pull-left" />
                              <div class="media-body">
                                <h5><a href="#">Lionel Messi</a></h5>
                                <p class="txt">Llevo solamente balones de oro ganados por mi. Gracias.</p>
                                <p class="date">27/09/2012 at 13:46 hrs.</p>
                              </div>
                            </div><!-- comment-item -->
                            <div class="comment-item media reply">
                              <img src="{{ STATIC_URL }}img/fake_45x45.png" alt="" title="" class="media-object img-polaroid pull-left" />
                              <div class="media-body">
                                <form>
                                  <textarea class="input-canubring" placeholder="Responde a este encargador. Cuando lleguen a un acuerdo, confirma el encargo."></textarea>
                                  <span class="delete"><a href="#" title="">Borrar</a></span>
                                  <a href="#" class="btn btn-canubring-orange pull-right">Reply</a>
                                  <a href="#" class="btn btn-canubring-orange pull-right">Confirmar encargo</a>
                                </form>
                              </div>
                            </div><!-- comment-item reply-->
                          </li>

                          <li>
                            <div class="item-hd">
                              <span class="name">maría angelica gonzález</span>
                              <span class="arrow"></span>
                              <span class="hand"></span>
                            </div>
                          </li>
                          <li>
                            <div class="item-hd">
                              <span class="name">maría angelica gonzález</span>
                              <span class="arrow"></span>
                              <span class="balloon"></span>
                            </div>
                          </li>
                        </ul>
                      </div><!-- .comments -->
                    </div>
                  </div>
                </li><!-- .item -->

              </ul>
            </div><!-- .tb-travels mytrips -->
          </div><!-- .profile-travels -->


          <h4 class="tit-int">Past Travels</h4>
          <div class="tb-travels mytrips past">
            <ul class="unstyled">
              <li class="item">
                <div class="row">
                  <div class="span1">
                    <div class="open-plane">
                      <a href="#" title=""><img src="{{ STATIC_URL }}img/ico_open.png" alt="" title="" /></a>
                      <span class="ico-bus"></span>
                    </div>
                  </div>
                  <div class="span2">
                    <p class="desc"><span>Dep.</span> 16.10.2012</p>
                    <p class="desc"><span>Arrive.</span> 16.10.2012</p>
                  </div>
                  <div class="span4">
                    <p class="desc"><span>From</span> Barcelona - Chile</p>
                    <p class="desc"><span>To</span> Santiago Chile</p>
                  </div>
                  <div class="span1">
                    <span class="ico-star"><a href="">Star</a></span>
                  </div>
                </div>
              </li><!-- .item -->
              <li class="item">
                <div class="row">
                  <div class="span1">
                    <div class="open-plane">
                      <a href="#" title=""><img src="{{ STATIC_URL }}img/ico_open.png" alt="" title="" /></a>
                      <span class="ico-bus"></span>
                    </div>
                  </div>
                  <div class="span2">
                    <p class="desc"><span>Dep.</span> 16.10.2012</p>
                    <p class="desc"><span>Arrive.</span> 16.10.2012</p>
                  </div>
                  <div class="span4">
                    <p class="desc"><span>From</span> Barcelona - Chile</p>
                    <p class="desc"><span>To</span> Santiago Chile</p>
                  </div>
                  <div class="span1">
                    <span class="ico-star"><a href="">Star</a></span>
                  </div>
                </div>
              </li><!-- .item -->
              <li class="item">
                <div class="row">
                  <div class="span1">
                    <div class="open-plane">
                      <a href="#" title=""><img src="img/ico_open.png" alt="" title="" /></a>
                      <span class="ico-bus"></span>
                    </div>
                  </div>
                  <div class="span2">
                    <p class="desc"><span>Dep.</span> 16.10.2012</p>
                    <p class="desc"><span>Arrive.</span> 16.10.2012</p>
                  </div>
                  <div class="span4">
                    <p class="desc"><span>From</span> Barcelona - Chile</p>
                    <p class="desc"><span>To</span> Santiago Chile</p>
                  </div>
                  <div class="span1">
                    <span class="ico-star"><a href="">Star</a></span>
                  </div>
                </div>
              </li><!-- .item -->
            </ul>
          </div><!-- .tb-travels mytrips past -->

          <div class="pagination pull-right">
            <ul>
              <li><a href="#">&laquo; Anterior</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Siguiente &raquo;</a></li>
            </ul>
          </div><!-- .pagination -->

{% endblock %}

