{% extends "base.html" %}

{% block content %}
<div class="upload-trip">
  <h2>My trips</h2>
  <a href="{% url 'new_trip' %}" class="btn">Upload new trip</a>
</div>

<div class="profile-travels">
  <div class="tb-travels mytrips">

    <div class="row">
      <div class="span1"></div>
      <div class="span2"><h5 class="th">Date</h5></div>
      <div class="span3"><h5 class="th">Travel</h5></div>
      <div class="span2"><h5 class="th">Status</h5></div>
    </div>

    <ul class="unstyled">
      {% for trip in current_trips %}
        {% include "trip_list_item.html" %}
      {% endfor %}
    </ul>

  </div><!-- .tb-travels mytrips -->
</div><!-- .profile-travels -->


<h4 class="tit-int">Past Travels</h4>
<div class="tb-travels mytrips past">
  <ul class="unstyled">
    {% for trip in past_trips %}
    {% include "trip_past_list_item.html" %}
    {% endfor %}
  </ul>
</div><!-- .tb-travels mytrips past -->

<div class="pagination pull-right">
  <ul>
    <li><a href="#">&laquo; Anterior</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Siguiente &raquo;</a></li>
  </ul>
</div><!-- .pagination -->

{% endblock %}

{% block extra_js %}
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.toggle-trip-activity').click(function() {
      $(this).closest('.row').siblings('.trip-activity').toggle();
      return false;
    })
  });
</script>
{% endblock %}
