<h3>FORMULARIO DE ENCARGO</h3>
<p class="desc">LLENA EL FORMULARIO CON LO ACORDADO CON EL ENCARGADOR, ENVÍASELO Y ESPERA QUE LO ACEPTE.</p>

<input type="hidden" name="cargo_id" value="{{ cargo_id }}">
<div class="block clearfix">
  <h4>MARCA LA CATEGORÍA DEL ENCARGO QUE VAS A LLEVAR:</h4>
  <div class="control-group">
    <label class="checkbox">
      <input name="food" type="checkbox">alimentos
    </label>
    <label class="checkbox">
      <input name="medicaments" type="checkbox">medicamentos
    </label>
    <label class="checkbox">
      <input name="duty_free" type="checkbox">duty free
    </label>
    <label class="checkbox">
      <input name="electronics" type="checkbox">electrónica
    </label>
    <label class="checkbox">
      <input name="baggage" type="checkbox">maletas
    </label>
    <label class="checkbox">
      <input name="books" type="checkbox">libros
    </label>
    <label class="checkbox">
      <input name="documents" type="checkbox">documentos
    </label>
    <label class="checkbox">
      <input name="personal_belongings" type="checkbox">bienes personales
    </label>
    <label class="checkbox">
      <input name="clothes" type="checkbox">vestuario
    </label>
    <label class="checkbox others">otros
      <input name="others" type="text" class="input-xlarge others-inp" />
    </label>
  </div>
</div>

<div class="block clearfix">
  <h4>¿QUÉ PRECIO ACORDASTE CON EL ENCARGADOR?</h4>
  <div class="control-group">
    <input name="price" type="text" class="input-small" />
    <select class="input-small">
      <option>usd dollars $</option>
      <option>eur euros €</option>
    </select>
  </div>
</div>

<div class="block clearfix">
  <h4>Lugar de encuentro:</h4>
  <div class="control-group">
    <label class="checkbox">
      <input name="pickup" type="radio" value="0">lugar en comun
    </label>
    <label class="checkbox">
      <input name="pickup" type="radio" value="1">yo lo comprare
    </label>
    <label class="checkbox">
      <input name="pickup" type="radio" value="2">su direccion
    </label>
    <label class="checkbox">
      <input name="pickup" type="radio" value="3">mi direccion
    </label>
  </div>
</div>

<div class="block clearfix">
  <h4>Lugar de despacho:</h4>
  <div class="control-group">
    <label class="checkbox">
      <input name="delivery" type="radio" value="0">lugar en comun
    </label>
    <label class="checkbox">
      <input name="delivery" type="radio" value="1">su direccion
    </label>
    <label class="checkbox">
      <input name="delivery" type="radio" value="2">mi direccion
    </label>
  </div>
</div>

<div class="submit-box clearfix">
  <p><input type="submit" value="Enviar Formulario" class="cargo-form-submit-btn btn btn-canubring-orange pull-right"></p>
</div>

