<style type="text/css" media="screen">
  #modal-cargo {
    position: absolute;
  }
</style>
<!-- Modal cargo -->
<div id="modal-cargo" class="modal sz2 hide fade modal-cnb-cargo" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div id="modal-cargo-content" class="modal-body clearfix">
	 	<h3>FORMULARIO DE ENCARGO</h3>
	 	<p class="desc">LLENA EL FORMULARIO CON LO ACORDADO CON EL ENCARGADOR, ENVÍASELO Y ESPERA QUE LO ACEPTE.</p>
		
    <form action="." method="post" accept-charset="utf-8">
      <div class="block clearfix">
        <h4>MARCA LA CATEGORÍA DEL ENCARGO QUE VAS A LLEVAR:</h4>
        <div class="control-group">
          <label class="checkbox">
            <input type="checkbox">alimentos
          </label>
          <label class="checkbox">
            <input type="checkbox">medicamentos
          </label>
          <label class="checkbox">
            <input type="checkbox">duty free
          </label>
          <label class="checkbox">
            <input type="checkbox">electrónica
          </label>
          <label class="checkbox">
            <input type="checkbox">maletas
          </label>
          <label class="checkbox">
            <input type="checkbox">libros
          </label>
          <label class="checkbox">
            <input type="checkbox">documentos
          </label>
          <label class="checkbox">
            <input type="checkbox">bienes personales
          </label>
          <label class="checkbox">
            <input type="checkbox">vestuario
          </label>
          <label class="checkbox others">
            <input type="checkbox">Otros
          </label>
          <input type="text" class="input-xlarge others-inp" />
        </div>
      </div>

      <div class="block clearfix">
        <h4>¿QUÉ PRECIO ACORDASTE CON EL ENCARGADOR?</h4>
        <div class="control-group">
          <input type="text" class="input-small" />
          <select  class="input-small">
            <option>usd dollars $</option>
            <option>eur euros €</option>
          </select>
        </div>
      </div>

      <div class="block clearfix">
        <h4>Lugar de encuentro:</h4>
        <div class="control-group">
          <label class="checkbox">
            <input type="checkbox">lugar en comun
          </label>
          <label class="checkbox">
            <input type="checkbox">yo lo comprare
          </label>
          <label class="checkbox">
            <input type="checkbox">su direccion
          </label>
          <label class="checkbox">
            <input type="checkbox">mi direccion
          </label>
        </div>
      </div>

      <div class="block clearfix">
        <h4>Lugar de despacho:</h4>
        <div class="control-group">
          <label class="checkbox">
            <input type="checkbox">lugar en comun
          </label>
          <label class="checkbox">
            <input type="checkbox">su direccion
          </label>
          <label class="checkbox">
            <input type="checkbox">mi direccion
          </label>
        </div>
      </div>

      <div class="submit-box clearfix">
        <p><input type="submit" value="Enviar Formulario" class="btn btn-canubring-orange pull-right"></p>
      </div>
    </form>

	</div>
</div>

