<div class="modal-body clearfix">
  <h3>FORMULARIO DE ENCARGO</h3>
  <div class="block clearfix">
    <h4>TU ENCARGO PERTENECE A LA SIGUIENTE CATEGORÍA:</h4>
    <p class="desc">Medicamentos</p>
  </div>
  <div class="block clearfix">
    <h4>el precio acordado es:</h4>
    <p class="desc">235€</p>
  </div>
  <div class="block clearfix">
    <h4>EL LUGAR DE ENCUENTRO DEL VIAJERO CON TU ENCARGO ES:</h4>
    <p class="desc">el viajero lo comprará</p>
  </div>
  <div class="block clearfix">
    <h4>EL LUGAR DE DESPACHO ACORDADO ES:</h4>
    <p class="desc">LA DIRECCIÓN DEL VIAJERO</p>
  </div>
  <div class="submit-box clearfix">
    <p>
      <input type="submit" value="Aceptar" class="btn btn-canubring-blue pull-left" style="margin-right:10px;">
      <input type="submit" value="Rechazar" class="btn btn-canubring-orange pull-left">
    </p>
  </div>
</div>

