<div class="modal-body clearfix">
  <h3>FORMULARIO DE ENCARGO</h3>
  <div class="block clearfix">
    <h4>TU ENCARGO PERTENECE A LAS SIGUIENTES CATEGORÍAS:</h4>
    {% if cargo.food %}
    <p class="desc">food</p>
    {% endif %}
    {% if cargo.medicaments %}
    <p class="desc">medicaments</p>
    {% endif %}
    {% if cargo.duty_free %}
    <p class="desc">duty_free</p>
    {% endif %}
    {% if cargo.electronics %}
    <p class="desc">electronics</p>
    {% endif %}
    {% if cargo.baggage %}
    <p class="desc">baggage</p>
    {% endif %}
    {% if cargo.books %}
    <p class="desc">books</p>
    {% endif %}
    {% if cargo.documents %}
    <p class="desc">documents</p>
    {% endif %}
    {% if cargo.personal_belongings %}
    <p class="desc">personal_belongings</p>
    {% endif %}
    {% if cargo.clothes %}
    <p class="desc">clothes</p>
    {% endif %}
    {% if cargo.others %}
    <p class="desc">others</p>
    {% endif %}
  </div>
  <div class="block clearfix">
    <h4>el precio acordado es:</h4>
    <p class="desc">{{ cargo.price }}€</p>
  </div>
  <div class="block clearfix">
    <h4>EL LUGAR DE ENCUENTRO DEL VIAJERO CON TU ENCARGO ES:</h4>
    <p class="desc">{{ cargo.get_pickup_display }}</p>
  </div>
  <div class="block clearfix">
    <h4>EL LUGAR DE DESPACHO ACORDADO ES:</h4>
    <p class="desc">{{ cargo.get_delivery_display }}</p>
  </div>
  <div class="submit-box clearfix">
    <p>
      <form action="{% url 'submit_confirm_cargo_form' %}" method="post" accept-charset="utf-8">
        <input type="hidden" name="cargo_id" value="{{ cargo.id }}">
        <input type="submit" value="Aceptar" class="btn btn-canubring-blue pull-left" style="margin-right:10px;">
      </form>
      <form action="{% url 'submit_reject_cargo_form' %}" method="post" accept-charset="utf-8">
        <input type="hidden" name="cargo_id" value="{{ cargo.id }}">
        <input type="submit" value="Rechazar" class="btn btn-canubring-orange pull-left">
      </form>
    </p>
  </div>
</div>

