<form action="{% url 'submit_review_traveller_form' %}" method="post" accept-charset="utf-8">
  <h3>¿CÓMO FUE TU EXPERIENCIA CON EL VIAJERO {{ cargo.traveller_user.get_full_name }}?</h3>

    <span id="review-error" style="color:red;display:none;margin-left:40px">Select one rating value</span>
    <div class="control-group">
      <label class="radio">
        <p class="stars-big five"></p>
        <input type="radio" name="traveller_user_review_stars" value="5"><span class="rate-text">excelente</span>
      </label>
    </div>

    <div class="control-group">
      <label class="radio">
        <p class="stars-big two"></p>
        <input type="radio" name="traveller_user_review_stars" value="2"><span class="rate-text">regular</span>
      </label>
    </div>

    <div class="control-group">
      <label class="radio">
        <p class="stars-big four"></p>
        <input type="radio" name="traveller_user_review_stars" value="4"><span class="rate-text">muy buena</span>
      </label>
    </div>	

    <div class="control-group">
      <label class="radio">
        <p class="stars-big one"></p>
        <input type="radio" name="traveller_user_review_stars" value="1"><span class="rate-text">mala</span>
      </label>
    </div>	

    <div class="control-group">
      <label class="radio">
        <p class="stars-big three"></p>
        <input type="radio" name="traveller_user_review_stars" value="3"><span class="rate-text">buena</span>
      </label>
    </div>	

    <div class="control-group">
      <label class="radio">
        <p class="stars-big"></p>
        <input type="radio" name="traveller_user_review_stars" value="0"><span class="rate-text">pésima</span>
      </label>
    </div>	

  </div>

  <h4>¿QUIERES HACER ALGUN COMENTARIO ACERCA DE ESTE VIAJERO?</h4>
  <div class="control-group-nofloat clearfix">
    <textarea name="traveller_user_review_comment" class="input-canubring" placeholder="Este comentario aparecerá en el perfil del viajero."></textarea>		
  </div>

  <div class="submit-box clearfix pull-right">
      <input type="hidden" name="cargo_id" value="{{ cargo.id }}">
      <p><input id="send-traveller-review-btn" type="submit" value="Send Review" class="btn btn-canubring-orange"></p>
    <p><a href="{% url 'confirm_delivery' cargo.id %}">[Responder más tarde]</a></p>
  </div>
</form>

<script type="text/javascript" charset="utf-8">
  $(function() {
      $('#send-traveller-review-btn').click(function() {
        if ($('input[name="traveller_user_review_stars"]:checked').length == 0) {
          $('#review-error').show();
          return false;
        } else {
          $('#review-error').hide();
        }
      });
  });
</script>

